.create {
  padding: 20px 24px;
  display: grid;
  grid-template-columns: 24px auto;
  gap: 24px;
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 24px;
  &__input {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #393a4b;
    outline: none;
    border: none;
    background-color: transparent;
    &::placeholder {
      color: #9495a5;
    }
  }
  &__dark {
    @extend .create;
    background-color: #25273d;
    &__input {
      @extend .create__input;
      color: #c8cbe7;
      &::placeholder {
        color: #767992;
      }
    }
  }
}
